:root{
  --primary-color: #6a0dad;
  --secondary-color: #ede7f3;
  --primary-font-color: whitesmoke;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}